/* Digital Pro Front Page
Loaded on the front page */

/* Front Page
---------------------------------------------------------------------------------------------------- */

.front-page .entry-header {
	margin-bottom: 0;
}

.front-page p:last-child,
.front-page .widget:last-child {
	margin-bottom: 0;
	line-height: 25px;
}

.front-page.front-page-loop .site-inner {
	padding: 0;
}

/* Flexible Widgets
--------------------------------------------- */

.flexible-widgets .widget {
	float: left;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.flexible-widgets .widget:first-child {
	margin-bottom: 40px;
}

.flexible-widgets.widget-full .widget,
.flexible-widgets.widget-area .widget:nth-of-type(1),
.flexible-widgets.widget-halves.uneven .widget:last-of-type {
	width: 100%;
}

.flexible-widgets.widget-fourths .widget {
	width: 25%;
}

.flexible-widgets.widget-halves .widget {
	width: 50%;
}

.flexible-widgets.widget-thirds .widget {
	width: 33.33%;
}

.flexible-widgets.widget-halves .widget:nth-child(even),
.flexible-widgets.widget-thirds .widget:nth-child(3n+2),
.flexible-widgets.widget-fourths .widget:nth-child(4n+2) {
	clear: left;
}


/* Sliders */
section#soliloquy-2 {
    background: #fff;
}


section#soliloquy-2 .widget-title,
section#soliloquy-4 .widget-title {
	margin: 0;
	padding: 10px 0;
}


/* End of LWM add */








/* Front Page 1
--------------------------------------------- */

.front-page-1 {
	display: table;
	margin-top: 90px; 
	overflow: hidden;
	table-layout: fixed;
	width: 100%;
}

.front-page-1 .wrap {
	margin: 0 auto;
	max-width: 1280px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
}

.front-page-1 .widget {
	margin-bottom: 0px;
}

.front-page-1 .widget-area {
	display: table-cell;
/*	padding-top: 20px; */
	padding-top: 0;
	vertical-align: middle;
	width: 100%;
}

.front-page-1,
.front-page-1 .widget-title {
	color: #a62f29;
}

.front-page-1 p {
	color: #1d0c18;
}



.front-page-1 .widget-title {
	text-align: center;
	background: #ebdc99;
    padding: 10px 0;
}

#text-2 h2 {
	text-align: center;
}




.front-page-1 .widget_text .widget-title {
	font-family: 'PT Sans', sans-serif;
	font-size: 84px;
	font-size: 8.4rem;
	font-weight: 700;
	letter-spacing: -3px;
	margin-bottom: 0;
	text-transform: none;
}

.front-page-1 p {
	font-size: 24px;
	font-size: 2.4rem;
}

.front-page-1 p:last-child {
	margin-bottom: 0;
}

.front-page-1 button,
.front-page-1 input[type="button"],
.front-page-1 input[type="reset"],
.front-page-1 input[type="submit"],
.front-page-1 .textwidget a.button {
	border: none;
	margin-top: 60px;
}

.front-page-1 button:focus,
.front-page-1 button:hover,
.front-page-1 input:focus[type="button"],
.front-page-1 input:hover[type="button"],
.front-page-1 input:focus[type="reset"],
.front-page-1 input:hover[type="reset"],
.front-page-1 input:focus[type="submit"],
.front-page-1 input:hover[type="submit"],
.front-page-1 .textwidget a.button:focus,
.front-page-1 .textwidget a.button:hover {
	background-color: #fff;
	border: none;
	color: #232525;
}
/* Now Showing Date */
h3.front-page-date {
    font-size: 1.9rem !important;
}

/* Now Showing title */
section#custom_html-4 h2 {
    text-align: center;
/*    margin-top: 20px; */
    margin-bottom: 0;
    padding: 20px 0;
    background: #ebdc99;
    font-size: 60px;
    font-size: 6rem;

}

/* Listen to the Wind Media changes */
.now-showing.wrap{
    background: #ebdc99;
}

.now-showing.wrap .col-sm-4 {
    padding: 10px;
    text-align: center;

}

.now-showing.wrap .col-md-4 {
    text-align: center;
}


.now-showing.wrap p {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 18px;
	line-height: 1.8rem;	
}

.now-showing.wrap h3 {
    font-size: 25px;
    font-size: 2.5rem;
	line-height: 23px;
	line-height: 2.3rem;	
    margin: 10px 0;
    text-align: center;
}

.movie-image-wrap {
	min-height: 175px;
}

.movie-information-wrap h3 {
	color: #a62f29;
}

.trailer-button.one-half a,
.more-info-button.one-half a {
    background: #57714C;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.showtime-front-page {
    margin-top: 15px;
}

.movie-content-wrap {
/*    min-height: 400px;  */
    padding: 10px 30px;
    background: #fff;
    margin-bottom: 30px;
}
.now-showing.wrap h5 {
	font-size: 1.4rem;
	letter-spacing: -.5px;
/*	margin-bottom: 0;*/
/*	padding: 2px 0; */

}


.now-showing.wrap {
	height: auto;
}

div#tablist1-panel1 {
    background: #ebdc99;
}

div#tablist1-panel4 {
    padding: 0;
    border: 0;
    border-top: 0;
}




.responsive-tabs-wrapper {
	margin-bottom: 0 !important;

}


.sep h1 {
	margin: 0;
}

.movie-information-wrap {
    min-height: 380px;
}

#text-2 h2 {
    margin-bottom: 0;
    padding: 10px 0;
}
/*
.responsive-tabs .responsive-tabs__panel {
	padding-top: 10px !important;
}

*/

.date-time {
    padding: 2px 10px;
    border-radius: 10px;
    background:#57714C;
    }

.date-time h5,
.date-time p {
	margin-bottom: 5px
}



.date-time h5 {
	color:#fff;
}

.trailer-button.one-half.first h5 a,
.more-info-button.one-half a {
    font-size: 20px;
    letter-spacing: 0;
    border-radius: 10px;
}

.responsive-tabs .responsive-tabs__list__item--active {
	color: #fff !important;
	background: #9db645 !important;
	font-size: 20px !important;
	font-weight: 700 !important;
}

.responsive-tabs .responsive-tabs__list__item:hover {
	color: #fff !important;
	background: #9db645 !important;	
	font-size: 20px !important;
	font-weight: 700 !important;

}


.responsive-tabs .responsive-tabs__panel {
	background: #ebdc99 !important;
}



.single-upcoming-event p {
	margin-top: 10px;
}


.now-showing.wrap h3 a {
    border-bottom: none;
    color: #a62f29;
}
/* Sliders */


#soliloquy-3 .widget-title {
	margin-bottom: 0;
}    
    
.all-slider .soliloquy-image  {
	border-right: 2px solid #57714C;
	border-top: 4px solid #57714C;
	border-bottom: 4px solid #57714C;
	border-left: 2px solid #57714C;


}  
    
section#soliloquy-2,
section#soliloquy-4 {
    padding: 0;
    background: #ebdc99;
}    
 div#front-page-3 {
    background: transparent;
}   


.now-showing.wrap {
    min-height: 630px;
}

/* Front Page 2
--------------------------------------------- */

.front-page-2,
.front-page-3 {
	background-color: #ebdc99;
/*	border-top: 70px solid transparent; */
/*	margin-top: -70px; */
	max-width: 1200px;
    margin: 0 auto; 
}

.front-page-2 .wrap {
	margin: 0 auto;
	max-width: 1280px; 
	padding-left: 40px;
	padding-right: 40px;
}

.front-page-2 .widget-area {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap:     wrap;
	flex-wrap:         wrap;
}

.front-page-2 .flexible-widgets.widget-halves .widget,
.front-page-2 .widget {
	float: left;
	margin-bottom: 0;
	width: 50%;
}

.front-page-2 .widget-wrap {
	padding-bottom: 5%;
	padding-top: 5%;
}

.front-page-2 .flexible-widgets .widget:only-child {
	margin-bottom: 0;
}

.front-page-2 .flexible-widgets.widget-halves .widget:nth-child(odd) {
/*	border-right: 1px solid #eee; */
	clear: left;
	padding-right: 8%;
	padding-top: 4%;
}

.front-page-2 .flexible-widgets .widget:nth-child(even) {
	clear: none;
	padding-left: 8%;
}

.front-page-2 .flexible-widgets.widget-full .widget,
.front-page-2 .flexible-widgets.widget-halves.uneven .widget:last-of-type {
	border-right-width: 0;
	padding-right: 20px;
	width: 100%;
}

.front-page-2 .flexible-widgets.widget-full .widget-wrap,
.front-page-2 .flexible-widgets.widget-halves.uneven .widget:last-of-type .widget-wrap {
	padding-bottom: 10%;
	padding-top: 10%;
}

.front-page-2 .flexible-widgets.widget-halves .widget:nth-child(n+3) {
	border-top: 1px solid #eee;
}

.front-page-2 ul {
	margin-bottom: 20px;
	margin-left: 10px;
}

.front-page-2 ul li {
	color: #232525;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.front-page ul.checkmark {
	margin-top: 20px;
}

.front-page-2 ul.checkmark li:before {
	font-size: 48px;
	font-size: 4.8rem;
	vertical-align: middle;
}

.front-page-2 ul.checkmark li:before {
	color: #e85555;
	content: "\f3fd";
	display: inline-block;
	font-family: 'ionicons';
	margin-left: -36px;
	width: 36px;
}

.front-page-2 ul.checkmark li {
	line-height: 1;
	padding: 8px 0 8px 36px;
}

.front-page-2 .enews-widget {
	text-align: center;
}

/* Tickets Section */
section#media_image-2 .widget-title,
section#media_video-2 .widget-title {
    text-align: center;
    font-size: 28px;
    font-size: 2.8rem;
}

/* Front Page 3
--------------------------------------------- */

.front-page-3 {
	background-color: #232525;
	padding: 0;
	text-align: center;
}

.front-page-3 .widget {
	margin-bottom: 40px;
}

.front-page-3 .widget-fourths .widget:nth-last-child(-n+4),
.front-page-3 .widget-halves.even .widget:nth-last-child(-n+2),
.front-page-3 .widget-thirds .widget:nth-last-child(-n+3) {
	margin-bottom: 0;
}

.front-page-3 .wrap {
	margin: 0 auto;
	max-width: 1200px;
/*	padding-left: 40px;
	padding-right: 40px; */
}

.front-page-3,
.front-page-3 a,
.front-page-3 h4,
.front-page-3 p,
.front-page-3 .icon,
.front-page-3 .widget-title {
	color: #a62f29;
}

.front-page-3 a:focus,
.front-page-3 a:hover {
	color: #e85555;
}

.front-page-3 h4 {
	font-size: 20px;
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.front-page-3 p {
	font-size: 16px;
	font-size: 1.6rem;
}

.front-page-3 .icon {
	display: block;
	font-size: 72px;
	font-size: 7.2rem;
}

.front-page-3 button:focus,
.front-page-3 button:hover,
.front-page-3 input:focus[type="button"],
.front-page-3 input:hover[type="button"],
.front-page-3 input:focus[type="reset"],
.front-page-3 input:hover[type="reset"],
.front-page-3 input:focus[type="submit"],
.front-page-3 input:hover[type="submit"],
.front-page-3 .textwidget a.button:focus,
.front-page-3 .textwidget a.button:hover {
	background-color: #fff;
	border: none;
	color: #232525;
}

/* Ticket image */
.fade-on-hover {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade-on-hover:hover {
      opacity: 0.5;
      }

section#media_image-2 a {
    border-bottom: 0;
}

/* 90 years */


section#responsive_lightbox_image_widget-2 img {
    width: 180px;
    height: 300px;
}

/* bottom separator before second carousel */

#custom_html-3 .flexible-widgets .widget:first-child {
	margin-bottom: 0;
}




section#custom_html-3 {
    margin: 0;
    padding: 0;
}



/* Tab menu tab */

.responsive-tabs ul.responsive-tabs__list {
	margin: 0 !important;
}


.responsive-tabs .responsive-tabs__list__item--active, .responsive-tabs .responsive-tabs__list__item--active:hover {
	top: 0 !important;
	border-color: transparent;
}


.responsive-tabs .responsive-tabs__list__item {
	color: #232525 !important;
	width: 24%;
	text-align: center;
}

/* Under Consideration */

.trailer-button-uc-movies h4 {
    font-size: 2rem;
}

.trailer-button-uc-movies h4 a {
    color: #fff;
    border-bottom: 0;
}


.trailer-button-uc-movies {
    background: #57714C;
    text-decoration: none;
}


section#soliloquy-4 {
	display:none;
}


/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
	
.responsive-tabs .responsive-tabs__list__item {
	margin: 1px 9px 0 0 !important;
}
.trailer-button.one-half.first h5 a, .more-info-button.one-half a {
    font-size: 16px;
}
.now-showing.wrap .col-sm-4 {
    padding: 5px;
    text-align: center;
}

.movie-content-wrap {
	padding: 10px 20px;
}



.now-showing.wrap h5 {
	font-size: 1.3rem;
	}




 .front-page-1 {
	height: auto !important;
}


@media only screen and (max-width: 896px) {
	
	section#soliloquy-2, section#soliloquy-3 {
	display:none;
}

section#soliloquy-4 {
	display:block;
	padding-bottom: 20px;
}


.responsive-tabs .responsive-tabs__list__item {
	margin: 1px 7px 0 0 !important;

}


}




@media only screen and (max-width: 768px) {



	.front-page-1 {
		margin-top: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.front-page-1 .widget-area {
		padding-top: 0;
	}

	.flexible-widgets.widget-fourths .widget,
	.flexible-widgets.widget-halves .widget,
	.flexible-widgets.widget-thirds .widget,
	.front-page-2 .flexible-widgets.widget-halves .widget,
	.front-page-2 .widget {
		float: none;
		width: 100%;
	}

	.flexible-widgets .widget,
	.front-page-2 .flexible-widgets .widget:nth-child(even),
	.front-page-2 .flexible-widgets.widget-halves .widget:nth-child(odd) {
		padding-left: 0;
		padding-right: 0;
	}

	.front-page-1 .widget_text .widget-title {
		font-size: 60px;
		font-size: 6rem;
	}

	.front-page-2 .flexible-widgets.widget-halves .widget:nth-child(even),
	.front-page-2 .flexible-widgets.widget-halves .widget:nth-child(odd),
	.front-page-2 .flexible-widgets.widget-halves .widget:nth-child(n+3) {
		border-width: 0;
	}

	.front-page-1 .wrap,
	.front-page-3 .wrap {
	/*	padding: 8%; */
		padding: 0;
	}


h2.tabtitle.responsive-tabs__heading.responsive-tabs__heading--active,
h2.tabtitle.responsive-tabs__heading {
    background: #f5edcd;
    color: #a62f29;
}

.responsive-tabs .responsive-tabs__heading--active:after, .responsive-tabs .responsive-tabs__heading--active:hover:after {
    border-bottom: 6px solid #a62f29 !important;
    }

tabs__heading:hover,
.responsive-tabs .responsive-tabs__heading:hover  {
    background: #f5edcd !important;
    color: #a62f29 !important;
}





}







@media only screen and (max-width: 600px) {

	.front-page-1 .widget_text .widget-title {
		font-size: 36px;
		font-size: 3.6rem;
	}


.soliloquy-container .soliloquy-image {
	width: 100%;
}
	
	.front-page-1 .wrap {
		padding-top: 0;
	}

body {
	background-color: #ebdc99;
}

.more-info-button.one-half {
    margin-top: 40px;
}


}




